nav > ul {
    background-color: navy;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 20%;
    overflow: hidden;
    border-radius: 25px;
    padding: 0px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    box-shadow: orange 10px 10px;
}

nav > ul:hover {
    box-shadow: navy 10px 10px;
}

nav > ul > li {
    float: left;
    width: 25%;
}

nav > ul > li > a {
    padding: 10px 5px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: orange;
}


.drop_content { 
    overflow: hidden;
    display: none;
    background-color: orange;
    position: relative;
    width: 100%;
    top: 20%;
    box-shadow: navy 10px 10px;
}

.drop_content a:hover {
    background-color: navy;
}

.nav_drop_list:hover .drop_content {
    display: block;
}

.drop_content a {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 5px;
}