header {
    width: 80%;
    height: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:navy;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: orange 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 10px;
    z-index: 1;
}

header > a {
    text-decoration: none;
}

header:hover {
    background-color:orange;
    box-shadow: navy 10px 10px;
}
header > a > h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    width: 70%;
    margin: auto;
}


